* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: apple;
     background-color: black;
     color: white;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #111;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

/* Logo / Home */
nav h1 {
  font-size: 22px;
  cursor: pointer;
}

/* Button */
nav button {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  background-color: #2ecc71;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

nav button:hover {
  background-color: #27ae60;
  transform: scale(1.05);
}


.allproduct{
 width: 100%;
 height: 100vh;
 background-color: black;
 color: white;
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    width: 350px;
    height: 370px;
    background-color: white;
    color: black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.product img{
    display: block;
     margin-left: 50px;
    width: 200px;
    height:200px;
    margin-bottom: 30px;
}
.product h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
a{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.product p{
    margin-top: 10px;
    font-size: 18px;        
}

.product:hover{
 scale: 0.98;
    
}

.productdetail{
    width: 350px;
    height: 500px;
    background-color: white;
    color: black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.productdetail:hover{
    scale: 0.98;
}

.productdetail img{
    display: block;
     margin-left: 50px;
    width: 200px;
    height:200px;
    margin-bottom: 70px;
}
.productdetail h2{
    margin-top: 10px;           
}

.productdetail h4{
    margin-top: 10px;           
}
.productdetail p{
    margin-top: 10px;
    font-size: 18px;        
}

.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}